.sobre_nosotros_princ{
    display: block;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD

=======
/*Ponete a estudiar*/
/*Hola*/
>>>>>>> bc4e21d8d8fdeaf79b3ec5af2d3d961043216fe8
