
header{
background-color: rgb(106, 158, 106);
}
/*.caja{
    position: relative;
    width: 940px;
    margin: 0px;
}*/
#img_logo_header{
    width: 150px;
    margin: 50px;
}
nav{
    position: absolute;
    top: 50px;
    right: 0px;
    left: 700px;

}
nav a:hover{
    color: #c78c19;
}


nav li{
    display: inline;
    margin: 0 0 0  20px;
   
}

nav a{
    text-transform: uppercase;
    color: beige;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

#Sobre_nosotros{
    background-color: #ccc;
    font-size: 70px;
}

.parrafo-princ{
    text-align: left;
    font-size: 20px;
    width: 800px;
    height: 800;
    margin: 50px;

   
}

#imagen_negocio{
    width: 700px;
    margin: 50px;
  
}

/*Producto*/

.Productos{
    width: 940px;
    display: flex; /*display  flex viene acompañado de justify-content y align-items*/
    
    justify-content:space-between;
    align-items: center; 
    position: relative;
    
    
    
}
    


.Imagenes_Productos{
    width: 200px;
    display: inline-block;
    margin: 40px;
    box-sizing: border-box;
    border-radius: 10px;    
}


.Descripción_parrafos{
    text-align: center;
}

.lista_productos{
    border: 2px solid rgb(61, 51, 48);
    margin: 20px;
}

.lista_productos:active{
    border-color: #c78c19;
}
/*CONSULTAS*/


/*SERVICIOS*/


.copiright{
    font-size: 13px;
}